---
- name: Stage - Install APT, Docker GPG Keys, Docker Repository & Docker CE
  hosts: all
  become: true
  vars:
    container_count: 4
    default_container_name: docker
    default_container_image: ubuntu
    default_container_command: sleep 1
  tasks:
      - name: Install aptitude
        apt:
          name: aptitude
          state: latest
          update_cache: true

      - name: Install required system packages
        apt:
          pkg:
            - apt-transport-https
            - ca-certificates
            - curl
            - software-properties-common
            - python3-pip
            - virtualenv
            - python3-setuptools
          state: latest
          update_cache: true

      - name: Add Docker GPG apt Key
        apt_key:
          url: https://download.docker.com/linux/ubuntu/gpg
          state: present

      - name: Add Docker Repository
        apt_repository:
          repo: deb https://download.docker.com/linux/ubuntu focal stable
          state: present

      - name: Update apt and install docker-ce
        apt:
          name: docker-ce
          state: latest
          update_cache: true

      - name: Install Docker Module for Python
        pip:
          name: docker
          
      # - name: Pull default Docker image
      #   community.docker.docker_image:
      #     name: "{{ default_container_image }}"
      #     source: pull


- name: Stage - Create Administrator User with Password Authentication
  hosts: all
  become: true
  tasks:
    - name: Install passlib for password hashing
      pip:
        name: passlib
        state: present

    - name: Create administrator-01 user with password
      ansible.builtin.user:
        name: administrator-01
        password: "{{ 'S4a*K!uLt&&Wof' | password_hash('sha512') }}"
        shell: /bin/bash
        groups: sudo,docker
        append: yes
        create_home: yes
        state: present

    - name: Remove cloud-init SSH config that disables password auth
      ansible.builtin.file:
        path: /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
        state: absent
      notify: restart sshd

    - name: Enable password authentication in SSH
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication yes'
        state: present
      notify: restart sshd

    - name: Ensure PubkeyAuthentication is enabled (keep key-based auth)
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PubkeyAuthentication'
        line: 'PubkeyAuthentication yes'
        state: present
      notify: restart sshd

  handlers:
    - name: restart sshd
      ansible.builtin.service:
        name: ssh
        state: restarted


- name: Stage - Enable Vagrant User To Docker group
  hosts: all
  tasks:
    - name: Add vagrant user to docker group
      ansible.builtin.user:
        name: vagrant
        groups: docker
        append: yes
      become: yes

    - name: Check if vagrant user is in the docker group
      ansible.builtin.command: id -nG vagrant
      register: group_check

    - name: Ensure vagrant user is in the docker group
      ansible.builtin.fail:
        msg: "The vagrant user is not in the docker group. Please verify."
      when: "'docker' not in group_check.stdout.split()"


- name: Stage - Pull, run, and print output of hello-world Docker container
  hosts: all
  become: true
  tasks:
    - name: Docker pull hello-world image
      community.docker.docker_image:
        name: hello-world
        source: pull
      # become: yes

    - name: Docker run hello-world container
      community.docker.docker_container:
        name: hello-world-container
        image: hello-world
        state: started
      # become: yes

    - name: Print output of hello-world container
      community.docker.docker_container_info:
        name: hello-world-container
      register: container_info
      # become: yes

    - name: Print return information from the previous task
      ansible.builtin.debug:
        var: container_info
